@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lemon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-anim {
  --duration: 120s;
  background: url("./flags.png") repeat;
  -webkit-animation: scrolling var(--duration) linear infinite;
  -moz-animation: scrolling var(--duration) linear infinite;
  -o-animation: scrolling var(--duration) linear infinite;
  animation: scrolling var(--duration) linear infinite;
  transform: rotate(-20deg) scale(2);
}

@keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 0 105%;
  }
}